/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */    
    background-image: url(lucas-george-wendt-IYm2PCy0f8c-unsplash.jpg);
    background-size: cover; /* Faz a imagem cobrir toda a área, mantendo a proporção */
    background-position: center; /* Centraliza a imagem horizontal e verticalmente */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0;
    padding: 0;
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

#fundo_pesquisa{
    background-color: rgba(252, 252, 252, 0.5);
    padding: 20px;
    border-radius: 20px;
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 1.5rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra leve */
}

section input:focus{
    outline: none;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #30475E; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: 0.2s;
}

section button i{
    margin-left: 7px;    
    transition: 0.7s;
}

section button:hover{
    background-color: #7a98b6;
}

section button:hover i{
    rotate: 360deg;
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

.resultados-pesquisa::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }
  
  .resultados-pesquisa::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .resultados-pesquisa::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #30475E, #7a98b6);
    border-radius: 10px;
  }

/* Estiliza cada item de resultado */
.item-resultado {
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding-block: 1rem; /* Espaçamento interno */
    padding-inline: 2rem;
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra leve */
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}

.item-resultado p {
    text-align: justify;
}

.item-resultado ul{
    margin-bottom: 25px;
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #F5F7F8; /* Cor do texto dos links */
    background-color: #30475E;
    padding: 5px;
    padding-inline: 15px;
    border-radius: 7px;
    transition: 0.3s;
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    background-color: #7a98b6;
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

ul{
    list-style: none;
}

li span{
    font-weight: 700;
}

/* Estiliza o rodapé da página */
footer {
    background-color: rgba(252, 252, 252, 0.5); /* Cor de fundo do rodapé */
    color: #45474B; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 0.8rem; /* Tamanho da fonte */
    font-weight: 500;
}

